<h1>Posts</h1>

<%= link_to "Yeni Post Oluştur", new_post_path %>

<% @posts.each do |post| %>
  <%= post.title %><br/>
  <%= post.article %><br/>
  <%= post.status %><br/>

  <%= link_to "Görüntüle", post_path(post) %> |
  <%= link_to "Güncelle", edit_post_path(post) %> |
  <%= button_to "Sil", post, method: :delete, data: { turbo_confirm: "Emin misin?" } %>

  <hr>
<% end %>
